<web-app 
    xmlns="http://java.sun.com/xml/ns/javaee" 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
    version="2.5">
  
  <display-name>Session Bank Web Application</display-name>
  
    <servlet>
        <servlet-name>Handler</servlet-name>
        <servlet-class>ejava.examples.ejbsessionbank.web.TellerHandlerServlet
        </servlet-class>
        <init-param>      
            <param-name>type</param-name>
            <param-value>admin</param-value>
        </init-param>
        
        <!-- the following properties are used when EJB wasn't injected by
            container. This will occur when running externally within Jetty
            or some other development environment separate from business logic
            -->
        <init-param>      
            <param-name>java.naming.factory.initial</param-name>
            <param-value>org.jnp.interfaces.NamingContextFactory</param-value>
        </init-param>
        <init-param>      
            <param-name>java.naming.provider.url</param-name>
            <param-value>jnp://127.0.0.4:1099</param-value>
            <!--
            <param-value>jnp://${jboss.host}:1099</param-value>
            -->
        </init-param>
        <init-param>
            <param-name>java.naming.factory.url.pkgs</param-name> 
            <param-value>org.jboss.naming:org.jnp.interfaces</param-value>
        </init-param>
        <init-param>
            <param-name>teller.jndi.name</param-name> 
            <param-value>/ejava/examples/ejbsessionbank/TellerEJB/remote
            </param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>Handler</servlet-name>
        <url-pattern>/model/admin/handler</url-pattern>
    </servlet-mapping>    
    
    <!--  if jetty honored @EJB injection, we could replace the manual JNDI
        properties above with something like the following. Since the application
        is local, within JBoss, it does not need the extra help. 
         -->
    <ejb-ref>
        <ejb-ref-name>ejb/tellerRemote</ejb-ref-name>
        <mapped-name>jnp://${jboss.host}:1099/ejava/examples/ejbsessionbank/TellerEJB/remote</mapped-name>
    </ejb-ref>
</web-app>
